<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahmoudreda.gamety">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity_student" />
        <activity
            android:name=".sign_package.Sign_up"
            android:label="Sign Up" />
        <activity
            android:name=".sign_package.sign_in"
            android:label="Login" />
        <activity
            android:name=".schedule.schedule_view"
            android:label="Schedule" />
        <activity
            android:name=".dash_board.ADV_dash_board"
            android:label="Dash Board" />
        <activity android:name=".course_content.Courses_content" />
        <activity
            android:name=".dash_board.ADV_dash_board_sec"
            android:label="Dash Board" />
        <activity android:name=".MainActivity_secretary" />
        <activity android:name=".course_content.upload_courses_content_doctor" />
        <activity
            android:name=".schedule.select_schedule"
            android:label="Schedule" />
        <activity android:name=".dash_board.ADV_dash_board_sec_display_delete" />
        <activity android:name=".schedule.current_year"></activity>
    </application>

</manifest>