<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmoudreda.gamety">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity_student" />
        <activity android:name=".sign_package.Sign_up"
            android:label="Sign Up"/>
        <activity android:name=".sign_package.sign_in"
            android:label="Login"/>
        <activity android:name=".SChedule.schedule" />
        <activity android:name=".dash_board.ADV_dash_board" />
        <activity android:name=".course_content.Courses_content" />
        <activity android:name=".dash_board.ADV_dash_board_sec" />
        <activity android:name=".MainActivity_secretary" />
        <activity android:name=".course_content.upload_courses_content_doctor"></activity>
    </application>

</manifest>